h1(class='t-core-title +u-fs-h5x') Fit Vids
p
  a(href='https://github.com/davatron5000/FitVids.js/blob/master/jquery.fitvids.js') Fitvids.js
.t-core-modules.m-fit-vids
  iframe(src="//player.vimeo.com/video/75659577", width="500", height="281", frameborder="0", webkitallowfullscreen="", mozallowfullscreen="", allowfullscreen="")
  p(class='+u-fs-h7  +u-s-mt-1/2')
    a(href="http://vimeo.com/75659577") Palms Future Warrior [Official music video]
    | from
    a(href="http://vimeo.com/user13913534") Keano Valles
    | on
    a(href="https://vimeo.com") Vimeo.
.t-core-code
  p code here