h1(class='t-core-title +u-fs-h5x') Fit Text
p 
  a(href='https://github.com/davatron5000/FitText.js') FitText.js
.t-core-modules
  .m-fit-text
    h1(class='+u-s-mb-0') fit text
.t-core-code
  p code here