h1(class='t-core-title +u-fs-h5x') Fluid Box
p
  a(href='https://github.com/terrymun/Fluidbox') fluidbox.js
.t-core-modules.m-fluidbox
  a(class='fluidbox' href='../../assets/images/placeholders/image-placeholder--01.jpg')
    img(src="../../assets/images/placeholders/image-placeholder--01.jpg" alt='')
.t-core-code
  p code here
.t-core-modules.m-fluidbox
  a(class='fluidbox' href='http://i.imgur.com/uDPcnM3.jpg')
    img(class='o-img --center' src="http://i.imgur.com/uDPcnM3.jpg'" alt='')
.t-core-code
  p code here