h1(class='t-core-title +u-fs-h5x') Rdio Embed
p
  a(href='https://rdio.io') rdio
.t-core-modules.m-rdio
  iframe(width="400", height="36", src="https://rd.io/i/QUP2bzdOnWo/", frameborder="0")
.t-core-modules.m-rdio
  iframe(width="500", height="80", src="https://rd.io/i/QUP2bzdOnWo/", frameborder="0")
.t-core-modules.m-rdio
  iframe(width="600", height="600", src="https://rd.io/i/QUP2bzdOnWo/", frameborder="0")
.t-core-code
  p 300x300 (Square)
    400x400 (Square)
    500x500 (Square)
    600x600 (Square)
    400x80 (Compact)
    500x80 (Compact)
    400x36 (Thin)

