$use-objects-columns: true !default;

@if $use-objects-columns == true{
/* ==========================================================================
   Object - Text Columns
   ========================================================================== */

  // object
  @include object(o-cols) {
    column-gap: $space;

    // modifier
    @include modifier(2) {
      column-count: 2;
    }

    // modifier
    @include modifier(3) {
      column-count: 3;
    }

    // modifier
    @include modifier(4) {
      column-count: 4;
    }

    // modifier
    @include modifier(5) {
      column-count: 5;
    }

  }

}//endif