$use-objects-flyout:	true !default;

@if $use-objects-flyout == true{
/* ==========================================================================
   Object - Flyout
   ========================================================================== */

	@include object(o-flyout) {
		position:relative;
		overflow:hidden;

		@include element(content) {
			position:absolute;
			top:100%;
			left:-9999px;
		}

		@include modifier(left) {
			&:hover{
					@include element(content) {
					top:0;
					left:100%;
				}
			}
		}

		&:hover{
			overflow:visible;
			.o-flyout__content {
				left:0;
			}
		}

	}

}//endif