$use-objects-icon-text: true !default;

@if $use-objects-icon-text == true{
/* ==========================================================================
   Object - Icon Text
   

   // add your site styles
   @include add(icon-add-name){
     add height: 40px;
     add width: 40px;
     background-image: url('svg-image.svg');
   }

   ========================================================================== */

  @include object(o-image-text) {

    @include element(icon) {
      background-repeat: no-repeat;
      position: relative;
      top: -1px;
      display: inline-block;
      overflow: hidden;
      width: $lh-base#{em};
      height: $lh-base#{em};
      vertical-align: middle;
      line-height: 1;
      zoom: 1;
      background-size: 96%;
      margin-right: $space-quarter;
    }

    @include modifier(rev) {
      .o-image-text__icon{
        margin-left: $space-quarter;
        margin-right: 0;
      }
    }

  }

}// end