$use-objects-link-complex:	true !default;

@if $use-objects-link-complex == true{
/* ==========================================================================
   Object - Link Complex
   ========================================================================== */

	@include object(o-link-complex) {
		&:hover,
		&:active,
		&:focus{
			text-decoration:none;
			
			.o-link-complex__target{
				text-decoration:underline;
			}
		}
	}

}//endif