$use-objects-progress-bars: true !default;

@if $use-objects-progress-bars == true{
/* ==========================================================================
   Objects - Pagination
   ========================================================================== */

  // object
  @include object(o-progress) {
    height: $space-3;
    background-color: $c-object;
    @if $use-base-global-mb == true{
      @include mb;
    }

    // element
    @include element(bar) {
      height: 100%;
      text-align: center;
      background-color: shade($c-object,10%);
      display: table;
      &[aria-valuenow="0"]{
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
      }

      // modifier
      @include modifier(success)    { @extend %e-bc-success; }
      @include modifier(info)       { @extend %e-bc-info; }
      @include modifier(warning)    { @extend %e-bc-warning; }
      @include modifier(danger)     { @extend %e-bc-danger; }
      @include modifier(error)      { @extend %e-bc-error; }
      @include modifier(disable)    { @extend %e-s-disable; }

      // element - modifier
      @include modifier(striped) {
        background-image: linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,rgba(0, 0, 0, 0) 25%,rgba(0, 0, 0, 0) 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,rgba(0, 0, 0, 0) 75%,rgba(0, 0, 0, 0));
        background-size: 40px 40px;
      }

    }

    // element
    @include element(bar-label) {
      vertical-align: middle;
      display: table-cell;
      padding: 0 $space;
    }

  }

}//endif