$use-objects-rules: true !default;

@if $use-objects-rules == true{
  /* ==========================================================================
   Object - Social Rules
   ========================================================================== */

  // object
  @include object(o-rule) {
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: $c-object;

    @if $use-base-global-mb == true{
      @include mb;
    }

    // modifier
    @include modifier(dotted) {
      border-bottom-style: dotted;
    }

    // modifier
    @include modifier(dashed) {
      border-bottom-style: dashed;
    }

    // modifier
    @include modifier(ornament) {
      position:relative;
      &:after{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        content: "†";
        text-align: center;
        line-height: 0;
      }
      &[data-ornament]:after{
        content:attr(data-ornament);
      }
    }

  }

}//endif