$use-objects-split: true !default;

@if $use-objects-split == true{
  /* ==========================================================================
   Object - Split
   ========================================================================== */

  // object
  @include object(o-split) {
    @include unstyled;
    @include cf;
    text-align:right;

    // element
    @include element(title) {
      text-align:left;
      float:left;
      clear:left;
    }

  }

}//endif