$use-objects-stats: true !default;

@if $use-objects-stats == true{
  /* ==========================================================================
   Object - Stats
   ========================================================================== */

  // wrapper object
  .o-stat-group{
    @include cf;
  }

  // object
  @include object(o-stat) {
    display: flex;
    flex-direction: column;
    float: left;

    @if $use-base-global-mb == true{
        @include reset-mb;
    }

    // element
    @include element(title) {
      order: 1;
    }

    // element
    @include element(value) {
      margin-left: 0;
      order: 2;
    }

  }

}//endif