h1(class='t-core-title +u-h5x') Block List Object
h2.t-core-title--sub Block List Unordered
.t-core-objects.block-list
  ul.o-block-list
    li list
    li 
      a(href="/").o-block-list__link another
    li another
    li another
h2.t-core-title--sub Block List Definition
.t-core-objects.block-list
  dl.o-block-list
    dt hell
    dd hell
    dt hell
    dd hell
    dt hell
    dd hell
h2.t-core-title--sub Block List Unordered Bordered
.t-core-objects.block-list
  ul.o-block-list.--bordered
    li above
    li 
      a(href="/").o-block-list__link another
    li asdfas
    li asdfa
h2.t-core-title--sub Block List Definition Bordered
.t-core-objects.block-list
  dl.o-block-list.--bordered
    dt hell
    dd hell
    dt hell
    dd hell
    dt hell
    dd hell
.t-core-code
  p this will be code