h1(class='t-core-title +u-fs-h5x') Breadcrumb Object
h2.t-core-title--sub Breadcrumb
.t-core-objects.breadcrumb
  ul(class='o-nav  o-breadcrumb')
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
.t-core-code
  p code here
h2.t-core-title--sub Breadcrumb Line
.t-core-objects.breadcrumb
  ul(class='o-nav  o-breadcrumb  --line')
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
.t-core-code
  p code here
h2.t-core-title--sub Breadcrumb Path
.t-core-objects.breadcrumb
  ul(class='o-nav  o-breadcrumb  --path')
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
.t-core-code
  p code here
h2.t-core-title--sub Breadcrumb Data
.t-core-objects.breadcrumb
  ul(class='o-nav  o-breadcrumb  --data')
    li(data-breadcrumb="→")
      a(class="" href='/') one
    li(data-breadcrumb="→")
      a(class="" href='/') one
    li(data-breadcrumb="→")
      a(class="" href='/') one
    li(data-breadcrumb="→")
      a(class="" href='/') one
.t-core-code
  p code here
h2.t-core-title--sub Breadcrumb Arrow
.t-core-objects.breadcrumb
  ul(class='o-nav  o-breadcrumb  --arrow')
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
    li
      a(class="" href='/') one
.t-core-code
  p code here
h2.t-core-title--sub Breadcrumb Arrow
.t-core-objects.breadcrumb
  ul(class='o-nav  o-breadcrumb  --arrow')
    a(class="" href='/') one
    a(class="" href='/') one
    a(class="" href='/') one
    a(class="" href='/') one
.t-core-code
  p code here