h1(class='t-core-title +u-fs-h5x') Figure
h2.t-core-title--sub Figure (default)
.t-core-objects.figure
  figure.o-fig
    img(src= "http://placehold.it/200")
    figcaption.o-fig__capt Lorem ipsum dolor sit amet
.t-core-code
  p code here
h2.t-core-title--sub Figure with Rounded Image
.t-core-objects.figure
  figure.o-fig
    img(class='+u-r-all' src= "http://placehold.it/200")
    figcaption.o-fig__capt Lorem ipsum dolor sit amet
.t-core-code
  p code here
h2.t-core-title--sub Figure with Round Image
.t-core-objects.figure
  figure.o-fig
    img(class='+u-r-circle' src= "http://placehold.it/200")
    figcaption.o-fig__capt Lorem ipsum dolor sit amet
.t-core-code
  p code here