h1(class='t-core-title +u-fs-h5x') Flyout Object
h2.t-core-title--sub Default
.t-core-objects.flyout
  .o-flyout.o-btn
    | Flyout Button
    .o-flyout__content
      ul(class='+u-unstyled  o-nav  --stacked')
        li 
          a.o-btn list item
        li 
          a.o-btn list item
        li 
          a.o-btn list item
        li 
          a.o-btn list item
.t-core-code
  p code here
h2.t-core-title--sub Flyout Left
.t-core-objects.flyout   
  div(class='o-btn  o-flyout  --left')
    | Flyout Button
    .o-flyout__content
      ul(class='+u-unstyled  o-nav  --stacked')
        li 
          a.o-btn list item
        li 
          a.o-btn list item
        li 
          a.o-btn list item
        li 
          a.o-btn list item
.t-core-code
  p code here