h1(class='t-core-title +u-fs-h5x') Icon Fonts
.t-core-objects.icon-fonts
  div
    i(class='o-icon  +octicons-alert')
    i(class='o-icon  +octicons-alignment-align')
    i(class='o-icon  +octicons-alignment-aligned-to')
    i(class='o-icon  +octicons-alignment-unalign')
    i(class='o-icon  +octicons-arrow-down')
    i(class='o-icon  +octicons-arrow-left')
    i(class='o-icon  +octicons-arrow-right')
    i(class='o-icon  +octicons-arrow-small-down')
    i(class='o-icon  +octicons-arrow-small-left')
    i(class='o-icon  +octicons-arrow-small-right')
    i(class='o-icon  +octicons-arrow-small-up')
    i(class='o-icon  +octicons-arrow-up')
    i(class='o-icon  +octicons-beer')
    i(class='o-icon  +octicons-book')
    i(class='o-icon  +octicons-bookmark')
    i(class='o-icon  +octicons-briefcase')
    i(class='o-icon  +octicons-broadcast')
    i(class='o-icon  +octicons-browser')
    i(class='o-icon  +octicons-bug')
    i(class='o-icon  +octicons-calendar')
    i(class='o-icon  +octicons-check')
    i(class='o-icon  +octicons-checklist')
    i(class='o-icon  +octicons-chevron-down')
    i(class='o-icon  +octicons-chevron-left')
    i(class='o-icon  +octicons-chevron-right')
    i(class='o-icon  +octicons-chevron-up')
    i(class='o-icon  +octicons-circle-slash')
    i(class='o-icon  +octicons-circuit-board')
    i(class='o-icon  +octicons-clippy')
    i(class='o-icon  +octicons-clock')
    i(class='o-icon  +octicons-cloud-download')
    i(class='o-icon  +octicons-cloud-upload')
    i(class='o-icon  +octicons-code')
    i(class='o-icon  +octicons-color-mode')
    i(class='o-icon  +octicons-comment')
    i(class='o-icon  +octicons-comment-discussion')
    i(class='o-icon  +octicons-credit-card')
    i(class='o-icon  +octicons-dash')
    i(class='o-icon  +octicons-dashboard')
    i(class='o-icon  +octicons-database')
    i(class='o-icon  +octicons-device-camera')
    i(class='o-icon  +octicons-device-camera-video')
    i(class='o-icon  +octicons-device-desktop')
    i(class='o-icon  +octicons-device-mobile')
    i(class='o-icon  +octicons-diff')
    i(class='o-icon  +octicons-diff-added')
    i(class='o-icon  +octicons-diff-ignored')
    i(class='o-icon  +octicons-diff-modified')
    i(class='o-icon  +octicons-diff-removed')
    i(class='o-icon  +octicons-diff-renamed')
    i(class='o-icon  +octicons-ellipsis')
    i(class='o-icon  +octicons-eye')
    i(class='o-icon  +octicons-file-binary')
    i(class='o-icon  +octicons-file-code')
    i(class='o-icon  +octicons-file-directory')
    i(class='o-icon  +octicons-file-media')
    i(class='o-icon  +octicons-file-pdf')
    i(class='o-icon  +octicons-file-submodule')
    i(class='o-icon  +octicons-file-symlink-directory')
    i(class='o-icon  +octicons-file-symlink-file')
    i(class='o-icon  +octicons-file-text')
    i(class='o-icon  +octicons-file-zip')
    i(class='o-icon  +octicons-flame')
    i(class='o-icon  +octicons-fold')
    i(class='o-icon  +octicons-gear')
    i(class='o-icon  +octicons-gift')
    i(class='o-icon  +octicons-gist')
    i(class='o-icon  +octicons-gist-secret')
    i(class='o-icon  +octicons-git-branch')
    i(class='o-icon  +octicons-git-commit')
    i(class='o-icon  +octicons-git-compare')
    i(class='o-icon  +octicons-git-merge')
    i(class='o-icon  +octicons-git-pull-request')
    i(class='o-icon  +octicons-globe')
    i(class='o-icon  +octicons-graph')
    i(class='o-icon  +octicons-heart')
    i(class='o-icon  +octicons-history')
    i(class='o-icon  +octicons-home')
    i(class='o-icon  +octicons-horizontal-rule')
    i(class='o-icon  +octicons-hourglass')
    i(class='o-icon  +octicons-hubot')
    i(class='o-icon  +octicons-inbox')
    i(class='o-icon  +octicons-info')
    i(class='o-icon  +octicons-issue-closed')
    i(class='o-icon  +octicons-issue-opened')
    i(class='o-icon  +octicons-issue-reopened')
    i(class='o-icon  +octicons-jersey')
    i(class='o-icon  +octicons-jump-down')
    i(class='o-icon  +octicons-jump-left')
    i(class='o-icon  +octicons-jump-right')
    i(class='o-icon  +octicons-jump-up')
    i(class='o-icon  +octicons-key')
    i(class='o-icon  +octicons-keyboard')
    i(class='o-icon  +octicons-law')
    i(class='o-icon  +octicons-light-bulb')
    i(class='o-icon  +octicons-link')
    i(class='o-icon  +octicons-link-external')
    i(class='o-icon  +octicons-list-ordered')
    i(class='o-icon  +octicons-list-unordered')
    i(class='o-icon  +octicons-location')
    i(class='o-icon  +octicons-lock')
    i(class='o-icon  +octicons-logo-github')
    i(class='o-icon  +octicons-mail')
    i(class='o-icon  +octicons-mail-read')
    i(class='o-icon  +octicons-mail-reply')
    i(class='o-icon  +octicons-mark-github')
    i(class='o-icon  +octicons-markdown')
    i(class='o-icon  +octicons-megaphone')
    i(class='o-icon  +octicons-mention')
    i(class='o-icon  +octicons-microscope')
    i(class='o-icon  +octicons-milestone')
    i(class='o-icon  +octicons-mirror')
    i(class='o-icon  +octicons-mortar-board')
    i(class='o-icon  +octicons-move-down')
    i(class='o-icon  +octicons-move-left')
    i(class='o-icon  +octicons-move-right')
    i(class='o-icon  +octicons-move-up')
    i(class='o-icon  +octicons-mute')
    i(class='o-icon  +octicons-no-newline')
    i(class='o-icon  +octicons-octoface')
    i(class='o-icon  +octicons-organization')
    i(class='o-icon  +octicons-package')
    i(class='o-icon  +octicons-paintcan')
    i(class='o-icon  +octicons-pencil')
    i(class='o-icon  +octicons-person')
    i(class='o-icon  +octicons-pin')
    i(class='o-icon  +octicons-playback-fast-forward')
    i(class='o-icon  +octicons-playback-pause')
    i(class='o-icon  +octicons-playback-play')
    i(class='o-icon  +octicons-playback-rewind')
    i(class='o-icon  +octicons-plug')
    i(class='o-icon  +octicons-plus')
    i(class='o-icon  +octicons-podium')
    i(class='o-icon  +octicons-primitive-dot')
    i(class='o-icon  +octicons-primitive-square')
    i(class='o-icon  +octicons-pulse')
    i(class='o-icon  +octicons-puzzle')
    i(class='o-icon  +octicons-question')
    i(class='o-icon  +octicons-quote')
    i(class='o-icon  +octicons-radio-tower')
    i(class='o-icon  +octicons-repo')
    i(class='o-icon  +octicons-repo-clone')
    i(class='o-icon  +octicons-repo-force-push')
    i(class='o-icon  +octicons-repo-forked')
    i(class='o-icon  +octicons-repo-pull')
    i(class='o-icon  +octicons-repo-push')
    i(class='o-icon  +octicons-rocket')
    i(class='o-icon  +octicons-rss')
    i(class='o-icon  +octicons-ruby')
    i(class='o-icon  +octicons-screen-full')
    i(class='o-icon  +octicons-screen-normal')
    i(class='o-icon  +octicons-search')
    i(class='o-icon  +octicons-server')
    i(class='o-icon  +octicons-settings')
    i(class='o-icon  +octicons-sign-in')
    i(class='o-icon  +octicons-sign-out')
    i(class='o-icon  +octicons-split')
    i(class='o-icon  +octicons-squirrel')
    i(class='o-icon  +octicons-star')
    i(class='o-icon  +octicons-steps')
    i(class='o-icon  +octicons-stop')
    i(class='o-icon  +octicons-sync')
    i(class='o-icon  +octicons-tag')
    i(class='o-icon  +octicons-telescope')
    i(class='o-icon  +octicons-terminal')
    i(class='o-icon  +octicons-three-bars')
    i(class='o-icon  +octicons-tools')
    i(class='o-icon  +octicons-trashcan')
    i(class='o-icon  +octicons-triangle-down')
    i(class='o-icon  +octicons-triangle-left')
    i(class='o-icon  +octicons-triangle-right')
    i(class='o-icon  +octicons-triangle-up')
    i(class='o-icon  +octicons-unfold')
    i(class='o-icon  +octicons-unmute')
    i(class='o-icon  +octicons-versions')
    i(class='o-icon  +octicons-x')
    i(class='o-icon  +octicons-zap')
.t-core-objects.icon-fonts
  div
    i(class='o-icon  +feather-square-minus')
    i(class='o-icon  +feather-eye')
    i(class='o-icon  +feather-paper-clip')
    i(class='o-icon  +feather-mail')
    i(class='o-icon  +feather-toggle')
    i(class='o-icon  +feather-layout')
    i(class='o-icon  +feather-link')
    i(class='o-icon  +feather-bell')
    i(class='o-icon  +feather-lock')
    i(class='o-icon  +feather-unlock')
    i(class='o-icon  +feather-ribbon')
    i(class='o-icon  +feather-image')
    i(class='o-icon  +feather-signal')
    i(class='o-icon  +feather-target')
    i(class='o-icon  +feather-clipboard')
    i(class='o-icon  +feather-clock')
    i(class='o-icon  +feather-watch')
    i(class='o-icon  +feather-air-play')
    i(class='o-icon  +feather-camera')
    i(class='o-icon  +feather-video')
    i(class='o-icon  +feather-disc')
    i(class='o-icon  +feather-printer')
    i(class='o-icon  +feather-monitor')
    i(class='o-icon  +feather-server')
    i(class='o-icon  +feather-cog')
    i(class='o-icon  +feather-heart')
    i(class='o-icon  +feather-paragraph')
    i(class='o-icon  +feather-align-justify')
    i(class='o-icon  +feather-align-left')
    i(class='o-icon  +feather-align-center')
    i(class='o-icon  +feather-align-right')
    i(class='o-icon  +feather-book')
    i(class='o-icon  +feather-layers')
    i(class='o-icon  +feather-stack')
    i(class='o-icon  +feather-stack-2')
    i(class='o-icon  +feather-paper')
    i(class='o-icon  +feather-paper-stack')
    i(class='o-icon  +feather-search')
    i(class='o-icon  +feather-zoom-in')
    i(class='o-icon  +feather-zoom-out')
    i(class='o-icon  +feather-reply')
    i(class='o-icon  +feather-circle-plus')
    i(class='o-icon  +feather-circle-minus')
    i(class='o-icon  +feather-circle-check')
    i(class='o-icon  +feather-circle-cross')
    i(class='o-icon  +feather-square-plus')
    i(class='o-icon  +feather-square-minus')
    i(class='o-icon  +feather-square-check')
    i(class='o-icon  +feather-square-cross')
    i(class='o-icon  +feather-microphone')
    i(class='o-icon  +feather-record')
    i(class='o-icon  +feather-skip-back')
    i(class='o-icon  +feather-rewind')
    i(class='o-icon  +feather-play')
    i(class='o-icon  +feather-pause')
    i(class='o-icon  +feather-stop')
    i(class='o-icon  +feather-fast-forward')
    i(class='o-icon  +feather-skip-forward')
    i(class='o-icon  +feather-shuffle')
    i(class='o-icon  +feather-repeat')
    i(class='o-icon  +feather-folder')
    i(class='o-icon  +feather-umbrella')
    i(class='o-icon  +feather-moon')
    i(class='o-icon  +feather-thermometer')
    i(class='o-icon  +feather-drop')
    i(class='o-icon  +feather-sun')
    i(class='o-icon  +feather-cloud')
    i(class='o-icon  +feather-cloud-upload')
    i(class='o-icon  +feather-cloud-download')
    i(class='o-icon  +feather-upload')
    i(class='o-icon  +feather-download')
    i(class='o-icon  +feather-location')
    i(class='o-icon  +feather-location-2')
    i(class='o-icon  +feather-map')
    i(class='o-icon  +feather-battery')
    i(class='o-icon  +feather-head')
    i(class='o-icon  +feather-briefcase')
    i(class='o-icon  +feather-speech-bubble')
    i(class='o-icon  +feather-anchor')
    i(class='o-icon  +feather-globe')
    i(class='o-icon  +feather-box')
    i(class='o-icon  +feather-reload')
    i(class='o-icon  +feather-share')
    i(class='o-icon  +feather-marquee')
    i(class='o-icon  +feather-marquee-plus')
    i(class='o-icon  +feather-marquee-minus')
    i(class='o-icon  +feather-tag')
    i(class='o-icon  +feather-power')
    i(class='o-icon  +feather-command')
    i(class='o-icon  +feather-alt')
    i(class='o-icon  +feather-esc')
    i(class='o-icon  +feather-bar-graph')
    i(class='o-icon  +feather-bar-graph-2')
    i(class='o-icon  +feather-pie-graph')
    i(class='o-icon  +feather-star')
    i(class='o-icon  +feather-arrow-left')
    i(class='o-icon  icon-eighty-store')
    i(class='o-icon  +feather-arrow-right')
    i(class='o-icon  +feather-arrow-up')
    i(class='o-icon  +feather-arrow-down')
    i(class='o-icon  +feather-volume')
    i(class='o-icon  +feather-mute')
    i(class='o-icon  +feather-content-right')
    i(class='o-icon  +feather-content-left')
    i(class='o-icon  +feather-grid')
    i(class='o-icon  +feather-grid-2')
    i(class='o-icon  +feather-columns')
    i(class='o-icon  +feather-loader')
    i(class='o-icon  +feather-bag')
    i(class='o-icon  +feather-ban')
    i(class='o-icon  +feather-flag')
    i(class='o-icon  +feather-trash')
    i(class='o-icon  +feather-expand')
    i(class='o-icon  +feather-contract')
    i(class='o-icon  +feather-maximize')
    i(class='o-icon  +feather-minimize')
    i(class='o-icon  +feather-plus')
    i(class='o-icon  +feather-minus')
    i(class='o-icon  +feather-check')
    i(class='o-icon  +feather-cross')
    i(class='o-icon  +feather-move')
    i(class='o-icon  +feather-delete')
    i(class='o-icon  +feather-menu')
    i(class='o-icon  +feather-archive')
    i(class='o-icon  +feather-inbox')
    i(class='o-icon  +feather-outbox')
    i(class='o-icon  +feather-file')
    i(class='o-icon  +feather-file-add')
    i(class='o-icon  +feather-file-subtract')
    i(class='o-icon  +feather-help')
    i(class='o-icon  +feather-open')
    i(class='o-icon  +feather-ellipsis')