h1(class='t-core-title +u-fs-h5x') Icon Text
.t-core-objects.text-image-icon
  p(class='o-image-text')
    i.o-image-text__icon(class='+u-circle')
    | Dribble
  p.o-image-text.--rev Twitter
    i(class='o-image-text__icon  +icon-twitter')