h1(class='t-core-title +u-fs-h5x') Images Objects
h2.t-core-title--sub Standard
div.t-core-objects.images
  img(src='http://placehold.it/200')
h2.t-core-title--sub Right
div.t-core-objects.images(class='+u-cf')
  img(class='o-img  --right' src='http://placehold.it/200')
h2.t-core-title--sub Left
div.t-core-objects.images(class='+u-cf')
  img(class='o-img  --left' src='http://placehold.it/200')
h2.t-core-title--sub Center
div.t-core-objects.images(class='+u-cf')
  img(class='o-img  --center' src='http://placehold.it/200')
h2.t-core-title--sub Circle
div.t-core-objects.images(class='+u-cf')
  img(class='o-img  --circle' src='http://placehold.it/200')
h2.t-core-title--sub Rounded
div.t-core-objects.images(class='+u-cf')
  img(class='o-img  +rounded' src='http://placehold.it/200')
h2.t-core-title--sub Full Width
div.t-core-objects.images(class='+u-cf')
  div(style='width:300px')
    img(class='o-img  --full' src='http://placehold.it/200')  