h1(class='t-core-title +u-fs-h5x') Island Object
h2.t-core-title--sub Default
.t-core-objects.island
  .o-island
    span Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
.t-core-code
  p code here