h1(class='t-core-title +u-fs-h5x') Labels
h2.t-core-title--sub label
div.t-core-objects.label-pills
  span(class='o-label') label
  span(class='o-label  +u-bc-success') label
  span(class='o-label  +u-bc-info') label
  span(class='o-label  +u-bc-danger') label
  span(class='o-label  +u-bc-warning') label
  span(class='o-label  +u-bc-error') label
  span(class='o-label  +u-s-disabled') label
.t-core-code
  p code here
h2.t-core-title--sub Label Rounded
div.t-core-objects.label-pills
  span(class='o-label  --rounded') rounded
  span(class='o-label  --rounded  +u-bc-success') rounded
  span(class='o-label  --rounded  +u-bc-info') rounded
  span(class='o-label  --rounded  +u-bc-danger') rounded
  span(class='o-label  --rounded  +u-bc-warning') rounded
  span(class='o-label  --rounded  +u-bc-error') rounded
  span(class='o-label  --rounded  +u-s-disabled') rounded
.t-core-code
  p code here
h2.t-core-title--sub Label Pills
div.t-core-objects.label-pills
  span(class='o-label  --pill') pill
  span(class='o-label  --pill  +u-bc-success') pill
  span(class='o-label  --pill  +u-bc-info') pill
  span(class='o-label  --pill  +u-bc-danger') pill
  span(class='o-label  --pill  +u-bc-warning') pill
  span(class='o-label  --pill  +u-bc-error') pill
  span(class='o-label  --pill  +u-s-disabled') pill
.t-core-code
  p code here