h1(class='t-core-title +u-fs-h5x') Link Complex Object
.t-core-objects.link-complex
  a.o-link-complex(href='log-in')
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      span.o-link-complex__target Log in
.t-core-code
  p code here