h1(class='t-core-title +u-fs-h5x') Matrix Object
h2.t-core-title--sub Matrix Two
.t-core-objects.matrix
  ul.o-matrix.--two
    li.o-matrix__full Lorem
    li.o-matrix__full  
      a.o-matrix__link(href='#') Ipsuma
    li
      a.o-matrix__link(href='#') Site
    li Amet
    li.o-matrix__full Consectetuer
.t-core-code
  p code here
h2.t-core-title--sub Matrix Three
.t-core-objects.matrix
  ul.o-matrix.--three
    li.o-matrix__full Lorem
    li  
      a.o-matrix__link(href='#') Ipsuma
    li
      a.o-matrix__link(href='#') Site
    li Amet
    li.all-cols Consectetuer
    li  
      a.o-matrix__link(href='#') Ipsuma
    li
      a.o-matrix__link(href='#') Site
.t-core-code
  p code here
h2.t-core-title--sub Matrix Four
.t-core-objects.matrix
  ul.o-matrix.--four
    li.o-matrix__full Lorem
    li
      a.o-matrix__link(href='#') Site
    li  
      a.o-matrix__link(href='#') Ipsuma
    li
      a.o-matrix__link(href='#') Site
    li Amet
    li.o-matrix__full Consectetuer
.t-core-code
  p code here
h2.t-core-title--sub Matrix Five
.t-core-objects.matrix
  ul.o-matrix.--five
    li.o-matrix__full Lorem
    li  
      a.o-matrix__link(href='#') Ipsuma
    li
      a.o-matrix__link(href='#') Site
    li  
      a.o-matrix__link(href='#') Ipsuma
    li
      a.o-matrix__link(href='#') Site
    li Amet
    li.o-matrix__full Consectetuer
.t-core-code
  p code here