h1(class='t-core-title +u-fs-h5x') Nav Object
h2.t-core-title--sub Nav
.t-core-objects.nav
  ul(class='o-nav')
    a(href='/') one
    a(href='/') one
    a(href='/') one
    a(href='/') one
.t-core-code
   p code here
h2.t-core-title--sub Nav Block
.t-core-objects.nav
  ul(class='o-nav  --block')
    li
      a(href='/') one
    li
      a(href='/') one
    li
      a(href='/') one
    li
      a(href='/') one
.t-core-code
   p code here
h2.t-core-title--sub Nav Fit
.t-core-objects.nav
  ul(class='o-nav  --fit')
    li
      a(href='/') one
    li
      a(href='/') one
    li
      a(href='/') one
    li
      a(href='/') one
.t-core-code
   p code here
h2.t-core-title--sub Nav Banner
.t-core-objects.nav
  ul(class='o-nav  --banner')
    li
      a(href='/') one
    li
      a(href='/') one
    li
      a(href='/') one
    li
      a(href='/') one
.t-core-code
   p code here
h2.t-core-title--sub Nav Stacked
.t-core-objects.nav
  ul(class='o-nav  --stacked')
    li
      a(href='/') one
    li
      a(href='/') one
    li
      a(href='/') one
    li
      a(href='/') one
.t-core-code
   p code here
h2.t-core-title--sub Nav Keywords
.t-core-objects.nav
  ul(class='o-nav  --keywords')
    li
      a(href='/') one
    li
      a(href='/') one
    li
      a(href='/') one
    li
      a(href='/') one
.t-core-code
   p code here