h1(class='t-core-title +u-fs-h5x') Notify Object
.t-core-objects.notify
  .o-notify.--success
    p success notify
  .o-notify.--danger
    p danger notify
  .o-notify.--error
    p error notify
  .o-notify.--warning
    p warning notify
  .o-notify.--info
    p info notify
  .o-notify.--disable
    p disabled notify
.t-core-code
  p this will be code