h1(class='t-core-title +u-fs-h5x') Options Object
h2.t-core-title--sub Option
.t-core-objects.options
  ul.o-options
    li
      a(href='/') Option
    li
      a(class='' href='/') Option One
    li
      a(href='/') Option Two
.t-core-code
  p code here
h2.t-core-title--sub Option Fit
.t-core-objects.options
  ul(class='o-options  --fit')
    li
      a(href='/') Option
    li
      a(href='/') Option One
    li
      a(href='/') Option Two
.t-core-code
  p code here
h2.t-core-title--sub Option Fit Center
.t-core-objects.options
  ul(class='o-options  --fit')
    li(class='+u-text-center')
      a(href='/') Option
    li(class='+u-text-center')
      a(class='+active' href='/') Option One
    li(class='+u-text-center')
      a(href='/') Option Two
.t-core-code
   p code here
h2.t-core-title--sub Option with active state
.t-core-objects.options
  ul.o-options
    li
      a(href='/') Option
    li
      a(class='+u-active' href='/') Option One
    li
      a(href='/') Option Two
.t-core-code
  p code here