h1(class='t-core-title +u-fs-h5x') Rules Object
h2.t-core-title--sub Rules All
.t-core-base.rules
  hr(class='o-rule')
  hr(class='o-rule  --dotted')
  hr(class='o-rule  --dashed')
  hr(class='o-rule  --ornament' data-ornament=".(-).")
.t-core-code
  p code here