h1(class='t-core-title +u-fs-h5x') Split Object
h2.t-core-title--sub Definition List
.t-core-objects.split
  dl.o-split
    dt.o-split__title Burger and fries
    dd £5.99
    dt.o-split__title Fillet steak
    dd £19.99
    dt.o-split__title Ice cream
    dd £2.99
.t-core-code
  p this will be code
h2.t-core-title--sub Order List
.t-core-objects.split
  ol.o-split
    li.first
      b.o-split__title 1st place
      | Bob
    li.second
      b.o-split__title 2nd place
      | Lilly
    li.third
      b.o-split__title 3rd place
      | Ted
.t-core-code
  p code here