h1(class='t-core-title +u-fs-h5x') Sprite Object
div.t-core-objects.sprite
  div
    i(class='o-sprite')
  div(class='o-sprite  +orange-sprite')
  div(class='o-sprite  +green-sprite')
  div(class='o-sprite  +blue-sprite')
  div(class='o-sprite  +red-sprite')
.t-core-code
    p code here
div.t-core-objects.sprite
  ul(class='+u-unstyled')
    li 
      a(href='/') 
        i(class='o-sprite  +orange-sprite') Sprite
    br
    li 
      a(href='/')
        i(class='o-sprite  +green-sprite') Sprite
    br
    li 
      a(href='#' class='o-sprite  +blue-sprite') Sprite or 
      a(href='#' class='o-sprite  +red-sprite') Sprite
    br
    li
      a(href='#')
        i(class='o-sprite  +orange-sprite')
        | Sprite
    br
    li
      a(href='#')
        i(class='o-sprite  +green-sprite')
        | Sprite
    br
    li
      a(class='o-sprite  +blue-sprite' href='#') Sprite
      | or
      a(class='o-sprite  +red-sprite' href='#') Sprite
.t-core-code
  p code here