h1(class='t-core-title +u-fs-h5x') Stats Object
h2.t-core-title--sub Stats
.t-core-objects.stat-group
  .o-stat-group
    dl.o-stat
      dt.o-stat__title Tweets
      dd.o-stat__value 27,740
    dl.o-stat
      dt.o-stat__title Following
      dd.o-stat__value 11,529
    dl.o-stat
      dt.o-stat__title Followers
      dd.o-stat__value 12,105
.t-core-code
  p this will be code
h2.t-core-title--sub Stats Custom
.t-core-objects.stat-group
  .o-stat-group
    dl.o-stat(class='+u-i-p  +u-s-mr  +u-bc-silver  +u-ta-center')
      dt.o-stat__title Tweets
      dd.o-stat__value 27,740
    dl.o-stat(class='+u-i-p  +u-s-mr  +u-bc-silver  +u-ta-center')
      dt.o-stat__title Following
      dd.o-stat__value 11,529
    dl.o-stat(class='+u-i-p  +u-s-mr  +u-bc-silver  +u-ta-center')
      dt.o-stat__title Followers
      dd.o-stat__value 12,105
.t-core-code
  p this will be code