h1(class='t-core-title +u-fs-h5x') Table Object
h2.t-core-title--sub Default
.t-core-objects.table
  table(class='o-table')
    colgroup
      col
      col
      col
    thead
      tr
        th Countries
        th State
        th Population
        th Population
    tbody
      tr
        td New York
        td New York
        td 8,405,837 million
        td another table cell
      tr
        td Los Angeles
        td California
        td 3,884,307 million
        td another table cell
      tr
        td Chicago
        td Illinois
        td 2,718,782 million
        td another table cell
      tr
        td USA
        td Washington D.C.
        td 309 million
        td another table cell
      tr
        td Houston
        td Texas
        td 309 million
        td another table cell
      tr
        td Philadelphia
        td Pennsylvania
        td 2,195,914 million
        td another table cell
      tr
        td Phoenix
        td Arizona
        td 1,513,367 million
        td another table cell
      tr
        td San Diego
        td California
        td 1,355,896 million
        td another table cell
    tfoot
      tr
        td Table Footer
        td Table Footer
        td Table Footer
        td Table Footer
.t-core-code
  p code here
h2.t-core-title--sub Table Bordered
.t-core-objects.table
  table(class='o-table  --bordered')
    colgroup
      col
      col
      col
    thead
      tr
        th Countries
        th State
        th Population
    tbody
      tr
        td New York
        td New York
        td 8,405,837 million
      tr
        td Los Angeles
        td California
        td 3,884,307 million
      tr
        td Chicago
        td Illinois
        td 2,718,782 million
      tr
        td USA
        td Washington D.C.
        td 309 million
      tr
        td Houston
        td Texas
        td 309 million
      tr
        td Philadelphia
        td Pennsylvania
        td 2,195,914 million
      tr
        td Phoenix
        td Arizona
        td 1,513,367 million
      tr
        td San Diego
        td California
        td 1,355,896 million
    tfoot
      tr
        td Table Footer
        td Table Footer
        td Table Footer
.t-core-code
  p code here
h2.t-core-title--sub Table Hover
.t-core-objects.table
  table(class='o-table  --bordered  --hover')
    colgroup
      col
      col
      col
    thead
      tr
        th Countries
        th State
        th Population
    tbody
      tr
        td New York
        td New York
        td 8,405,837 million
      tr
        td Los Angeles
        td California
        td 3,884,307 million
      tr
        td Chicago
        td Illinois
        td 2,718,782 million
      tr
        td USA
        td Washington D.C.
        td 309 million
      tr
        td Houston
        td Texas
        td 309 million
      tr
        td Philadelphia
        td Pennsylvania
        td 2,195,914 million
      tr
        td Phoenix
        td Arizona
        td 1,513,367 million
      tr
        td San Diego
        td California
        td 1,355,896 million
    tfoot
      tr
        td Table Footer
        td Table Footer
        td Table Footer
.t-core-code
  p code here
h2.t-core-title--sub Table Striped
.t-core-objects.table
  table(class='o-table  --bordered  --striped')
    colgroup
      col
      col
      col
    thead
      tr
        th Countries
        th State
        th Population
    tbody
      tr
        td New York
        td New York
        td 8,405,837 million
      tr
        td Los Angeles
        td California
        td 3,884,307 million
      tr
        td Chicago
        td Illinois
        td 2,718,782 million
      tr
        td USA
        td Washington D.C.
        td 309 million
      tr
        td Houston
        td Texas
        td 309 million
      tr
        td Philadelphia
        td Pennsylvania
        td 2,195,914 million
      tr
        td Phoenix
        td Arizona
        td 1,513,367 million
      tr
        td San Diego
        td California
        td 1,355,896 million
    tfoot
      tr
        td Table Footer
        td Table Footer
        td Table Footer
.t-core-code
  p code here
h2.t-core-title--sub Table RWD
.t-core-objects.table
  table(class='o-table  --bordered  --rwd')
    tr
      th Movie Title
      th Genre
      th Year
      th Gross
    tr
      td(data-th="Movie Title") Star Wars
      td(data-th="Genre") Adventure, Sci-fi
      td(data-th="Year") 1977
      td(data-th="Gross") $460,935,665
    tr
      td(data-th="Movie Title") Howard The Duck
      td(data-th="Genre") "Comedy"
      td(data-th="Year") 1986
      td(data-th="Gross") $16,295,774
    tr
      td(data-th="Movie Title") American Graffiti
      td(data-th="Genre") Comedy, Drama
      td(data-th="Year") 1973
      td(data-th="Gross") $115,000,000
.t-core-code
  p code here
h2.t-core-title--sub Table RWD the sink
.t-core-objects.table
  table(class='o-table  --bordered  --rwd  --hover  --striped')
    tr
      th Movie Title
      th Genre
      th Year
      th Gross
    tr
      td(data-th="Movie Title") Star Wars
      td(data-th="Genre") Adventure, Sci-fi
      td(data-th="Year") 1977
      td(data-th="Gross") $460,935,665
    tr
      td(data-th="Movie Title") Howard The Duck
      td(data-th="Genre") "Comedy"
      td(data-th="Year") 1986
      td(data-th="Gross") $16,295,774
    tr
      td(data-th="Movie Title") American Graffiti
      td(data-th="Genre") Comedy, Drama
      td(data-th="Year") 1973
      td(data-th="Gross") $115,000,000
.t-core-code
  p code here