h1(class='t-core-title +u-fs-h5x') Tabs Object
h2.t-core-title--sub Tabs Left (Default)
div.t-core-objects.tabs
  ul.o-tabs(style='border-bottom:2px solid #f7f7f7')
    li
      a.o-btn(href='http://www.unvisted.io') Tab 1
    li
      a.o-btn(href='https://twitter.com') Tab 2
    li
      a.o-btn(href='http://www.unvisted.io') Tab 3
.t-core-code
  p code here
h2.t-core-title--sub Tabs Right
div.t-core-objects.tabs
  ul.o-tabs.--right(style='border-bottom:2px solid #f7f7f7')
    li
      a.o-btn(href='https://twitter.com') Tab 1
    li
      a.o-btn(href='http://www.unvisted.io') Tab 2
    li
      a.o-btn(href='http://www.unvisted.io') Tab 3
.t-core-code
  p code here
h2.t-core-title--sub Tabs Center
div.t-core-objects.tabs
  ul.o-tabs.--centered(style='border-bottom:2px solid #f7f7f7')
    li
      a.o-btn(href='https://twitter.com') Tab 1
    li
      a.o-btn(href='https://twitter.com') Tab 2
    li
      a.o-btn(href='http://www.unvisted.io') Tab 3
.t-core-code
  p code here
h2.t-core-title--sub Tabs Center with States
div.t-core-objects.tabs
  ul.o-tabs.--centered(style='border-bottom:2px solid #f7f7f7')
    li
      a.o-btn(class="+u-s-disable" href='https://twitter.com') Tab Disable State
    li
      a.o-btn(class="+u-s-active" href='https://twitter.com') Tab Active State
    li
      a.o-btn( href='http://www.unvisted.io') Tab 3
    li
      a.o-btn(class="+u-s-inform" href='http://www.unvisted.io') Tab Inform State
.t-core-code
  p code here