h1(class='t-core-title +u-fs-h5x') Thumbnail Object
h2.t-core-title--sub Default
.t-core-objects.thumbnail
  .o-thumb
    img(class="o-thumb__item" src= "http://placehold.it/200")
.t-core-code
  p code here
h2.t-core-title--sub Thumbnail Rounded
.t-core-objects.thumbnail
  .o-thumb
    img(class="o-thumb__item  +u-r-rounded" src= "http://placehold.it/200")
.t-core-code
  p code here
h2.t-core-title--sub Thumbnail Circle
.t-core-objects.thumbnail
  .o-thumb
    img(class="o-thumb__item  +u-r-circle" src= "http://placehold.it/200")
.t-core-code
  p code here