h1(class='t-core-title +u-fs-h5x') Rounded Config

h2.t-core-title--sub Rounded
.t-core-config.rounded
  p
    code $global-round:   3px!default;
  p
    code $button-round:   3px!default;
  p
    code $image-round:    3px!default;
  p
    code $label-round:    3px!default;
  p
    code $tabs-round:     3px!default;
  p
    code $utilities-round: $global-round;
