/* ==========================================================================
   Mixin - O.M.E.A.L

   Omeal v0.0.1
   -----
	 Object, Modifier, Element, Add & Location
	 https://twitter.com/simoneramo

	 Using csstyle concept and mixins 'below' but changed
	 nameing coventions to:
			object  --modifier  __element  +add  @location
	 objects are prefixed with 'o-' o-object

	 Credit to @geddski

	 Csstyle
   -----
	 Clean, Simple Styling for the Web
	 http://www.csstyle.io
	 https://twitter.com/geddski
	 https://github.com/geddski

   ========================================================================== */

	// objects
	@mixin object($name){
	  .#{$name}{
	    @content;
	  }
	}

	// modifiers
	// override objects
	@mixin modifier($name){
	  &.\--#{$name}{
	    @content;
	  }
	}

	// allow elements to respond to modifiers on parents
	@mixin whenobjectmodifier($modifier){
	  $index: str-index(#{&}, "__") - 1;
	  $object: str-slice(#{&}, 0, $index);

	  #{$object}.\--#{$modifier} & {
	    @content;
	  }
	}

	// elements
	// make up the structure of a object
	// override objects
	@mixin element($name){
	    // check if nested in an modifier
	    $modifierIndex: str-index(#{&}, ".\\--");
	    $modifierIndex: 0 !default;
	    $modifierIndex: $modifierIndex - 1;

	    // check if nested in another element
	    $elementIndex: str-index(#{&}, "__");
	    $elementIndex: 0 !default;
	    $elementIndex: $elementIndex - 1;

	    $object: str-slice(#{&}, 0, $modifierIndex);

	    // element is nested in an modifier
	    @if $modifierIndex > 0 {
	      // element is also nested in another element
	      @if ($elementIndex > 0){
	        &__#{$name}{
	          @content;
	        }
	      }
	      @else{
	        & #{$object}__#{$name}{
	          @content;
	        }
	      }
	    }
	    @else {
	      &__#{$name}{
	        @content;
	      }
	    }
	}

	// add globals
	// override objects, modifiers, and elements
	@mixin add($name){
	  .\+#{$name}{
	    @content;
	  }
	}

	// locations
	// override objects, modifiers, elements, and add globals
	@mixin location($name){
	  .body .\@#{$name}{
	    @content;
	  }
	}