h1(class='t-core-title +u-fs-h5x') Screen Readers Only
h2.t-core-title--sub Screen Readers Only
.t-core-mixins.sr-only
  div(style='border:1px dashed #ccc;')
    p(class='+u-sr-only') screen readers only
