h1(class='t-core-title +u-fs-h5x') Unstyled List
h2.t-core-title--sub Unstyled List
.t-core-mixins.unstyled
  ul(class="+u-unstyled")
    li unstyled list
    li unstyled list
    li unstyled list
    li unstyled list
    li unstyled list