h1(class='t-core-title +u-fs-h5x') Vertically Align an Element
h2.t-core-title--sub Vertically Align an Element
.t-core-mixins.vertical-align
  div(style='border:1px dashed #ccc;')
    p Vertical Align