h1(class='t-core-title +u-fs-h5x') Vertical Align with Table
h2.t-core-title--sub Vertical Align with Table
.t-core-mixins.vertical-align-table
  div(class='div' style='border:1px dashed #ccc;')
    .div__inner
      p Vertical Align with Table