h1(class='t-core-title +u-fs-h5x') Visually Hidden
h2.t-core-title--sub Visually Hidden
.t-core-mixins.visually-hidden
  div(style='border:1px dashed #ccc; height: 2px;')
    p(class='+u-visually-hidden') hello im visually hidden