$use-utilities-font-weights:  true !default;

@if $use-utilities-font-weights == true{
/* ==========================================================================
   Utilities Font Weights
   ========================================================================== */

  // font weights
  @include add(u-fw-100)        { font-weight: 100; }
  @include add(u-fw-200)        { font-weight: 200; }
  @include add(u-fw-300)        { font-weight: 300; }
  @include add(u-fw-400)        { font-weight: 400; }
  @include add(u-fw-500)        { font-weight: 500; }
  @include add(u-fw-600)        { font-weight: 600; }
  @include add(u-fw-700)        { font-weight: 700; }
  @include add(u-fw-800)        { font-weight: 800; }
  @include add(u-fw-900)        { font-weight: 900; }
  @include add(u-fw-normal)     { font-weight: normal; }
  @include add(u-fw-bold)       { font-weight: bold; }
  @include add(u-fw-lighter)    { font-weight: lighter; }
  @include add(u-fw-bolder)     { font-weight: bolder; }

}//end if