$use-utilities-font-styles:  true !default;

@if $use-utilities-font-styles == true{
/* ==========================================================================
   Utilities Font Styles
   ========================================================================== */

  // font styles
  @include add(u-fs-normal)   { font-style: normal; }
  @include add(u-fs-italic)   { font-style: italic; }
  @include add(u-fs-oblique)  { font-style: oblique; }

}//end if