$use-utilities-rounded:  true !default;

@if $use-utilities-rounded == true{
/* ==========================================================================
   Utilities Rounded
   ========================================================================== */

  @include add(u-r-circle) { border-radius: 100%;}
  @include add(u-r-all)    { border-radius: $utilities-round; }
  @include add(u-r-top)    { border-radius: $utilities-round $utilities-round 0 0; }
  @include add(u-r-left)   { border-radius: $utilities-round 0 0 $utilities-round; }
  @include add(u-r-right)  { border-radius: 0 $utilities-round $utilities-round 0; }
  @include add(u-r-bottom) { border-radius: 0 0 $utilities-round $utilities-round; }
  @include add(u-r-tl)     { border-radius: $utilities-round 0 0 0; }
  @include add(u-r-tr)     { border-radius: 0 $utilities-round 0 0; }
  @include add(u-r-br)     { border-radius: 0 0 $utilities-round 0; }
  @include add(u-r-bl)     { border-radius: 0 0 0 $utilities-round ; }
  @include add(u-r-reset)  { border-radius: 0; }

}//end if