doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    include ../../_partials/site/compatibility-mode
    title Core Objects
    include ../../_partials/site/description
    include ../../_partials/site/meta-viewport

    include ../../_partials/site/favicon
    //- or
    //- include ../../_partials/site/favicon-png

    include ../../_partials/site/metaquery

    include ../../_partials/site/icon-chrome-android

    include ../../_partials/site/icon-safari-ios

    include ../../_partials/site/icon-tile-win8

    include ../../_partials/site/if-mobile-url

    link(type='text/css', rel='stylesheet', href='../../assets/css/main.css')
  body.styleguide
    include ../../_partials/site/header
      ul(class='o-nav  --banner')
        li
          a(class='o-btn  --large  +u-r-all' href='../base') base
        li
          a(class='o-btn  --large  +u-r-all  +u-s-active' href='../objects') objects
        li
          a(class='o-btn  --large  +u-r-all' href='../utilities') utilities
        li
          a(class='o-btn  --large  +u-r-all' href='../sink') sink
        li
          a(class='o-btn  --large  +u-r-all' href='../modules') modules
        li
          a(class='o-btn  --large  +u-r-all' href='../config') config
        li
          a(class='o-btn  --large  +u-r-all' href='../mixins') mixins

    .l-core-container.container

      //- objects
      include ../../_partials/objects/loaders
      include ../../_partials/objects/tabs
      include ../../_partials/objects/flag
      include ../../_partials/objects/menu
      include ../../_partials/objects/matrix
      include ../../_partials/objects/options
      include ../../_partials/objects/tables
      include ../../_partials/objects/link-complex
      include ../../_partials/objects/blockquote
      include ../../_partials/objects/progress-bars
      include ../../_partials/objects/pagination
      include ../../_partials/objects/this-or-this
      include ../../_partials/objects/stats
      include ../../_partials/objects/icon-fonts
      include ../../_partials/objects/button-groups
      include ../../_partials/objects/forms
      include ../../_partials/objects/flyout
      include ../../_partials/objects/icon-text
      include ../../_partials/objects/rules
      include ../../_partials/objects/split
      include ../../_partials/objects/sprite
      include ../../_partials/objects/island
      include ../../_partials/objects/breadcrumbs
      include ../../_partials/objects/labels
      include ../../_partials/objects/columns
      include ../../_partials/objects/nav
      include ../../_partials/objects/lists
      include ../../_partials/objects/media
      include ../../_partials/objects/buttons
      include ../../_partials/objects/figure
      include ../../_partials/objects/images
      include ../../_partials/objects/thumbnail
      include ../../_partials/objects/notify
      include ../../_partials/objects/block-list

    include ../../_partials/site/scripts
    include ../../_partials/site/analytics