h1(class='t-core-title +u-fs-h5x') Colours Utilities
h2.t-core-title--sub Background Custom
.t-core-utilities.config
  div.t-core-colours(class='+u-bc-white')  
  div.t-core-colours(class='+u-bc-silver')
  div.t-core-colours(class='+u-bc-gray')  
  div.t-core-colours(class='+u-bc-black')
  div.t-core-colours(class='+u-bc-red')  
  div.t-core-colours(class='+u-bc-maroon')
  div.t-core-colours(class='+u-bc-orange') 
  div.t-core-colours(class='+u-bc-yellow') 
  div.t-core-colours(class='+u-bc-olive')
  div.t-core-colours(class='+u-bc-lime') 
  div.t-core-colours(class='+u-bc-green')
  div.t-core-colours(class='+u-bc-aqua')   
  div.t-core-colours(class='+u-bc-teal') 
  div.t-core-colours(class='+u-bc-blue') 
  div.t-core-colours(class='+u-bc-navy')
  div.t-core-colours(class='+u-bc-fuchsia')
  div.t-core-colours(class='+u-bc-purple')
  div.t-core-colours(class='+u-bc-pink')
h2.t-core-title--sub Colour Custom
.t-core-utilities.config
  p(class='+u-fs-h1  +u-fw-bold  +u-c-white') white    
  p(class='+u-fs-h1  +u-fw-bold  +u-c-silver') silver
  p(class='+u-fs-h1  +u-fw-bold  +u-c-gray') gray  
  p(class='+u-fs-h1  +u-fw-bold  +u-c-black') black
  p(class='+u-fs-h1  +u-fw-bold  +u-c-red') red  
  p(class='+u-fs-h1  +u-fw-bold  +u-c-maroon') maroon
  p(class='+u-fs-h1  +u-fw-bold  +u-c-orange') orange 
  p(class='+u-fs-h1  +u-fw-bold  +u-c-yellow') yellow 
  p(class='+u-fs-h1  +u-fw-bold  +u-c-olive') olive
  p(class='+u-fs-h1  +u-fw-bold  +u-c-lime') lime 
  p(class='+u-fs-h1  +u-fw-bold  +u-c-green') green
  p(class='+u-fs-h1  +u-fw-bold  +u-c-aqua') aqua   
  p(class='+u-fs-h1  +u-fw-bold  +u-c-teal') teal 
  p(class='+u-fs-h1  +u-fw-bold  +u-c-blue') blue 
  p(class='+u-fs-h1  +u-fw-bold  +u-c-navy') navy
  p(class='+u-fs-h1  +u-fw-bold  +u-c-fuchsia') fuchsia
  p(class='+u-fs-h1  +u-fw-bold  +u-c-purple') purple
  p(class='+u-fs-h1  +u-fw-bold  +u-c-pink') pink 
h2.t-core-title--sub Colour Background
.t-core-utilities.config
  div.t-core-colours(class='+u-bc-1')
  div.t-core-colours(class='+u-bc-2')
  div.t-core-colours(class='+u-bc-3')
h2.t-core-title--sub Background Links
.t-core-utilities.config
  div.t-core-colours(class='+u-bc-link')
  div.t-core-colours(class='+u-bc-hover')
  div.t-core-colours(class='+u-bc-active')
  div.t-core-colours(class='+u-bc-visited')
h2.t-core-title--sub Colour Links
.t-core-utilities.config
  p(class='+u-fs-h1  +u-fw-bold  +u-c-link') link
  p(class='+u-fs-h1  +u-fw-bold  +u-c-hover') hover
  p(class='+u-fs-h1  +u-fw-bold  +u-c-active') active
  p(class='+u-fs-h1  +u-fw-bold  +u-c-visited') visted
h2.t-core-title--sub Background Notify
.t-core-utilities.config
  div.t-core-colours(class='+u-bc-success')
  div.t-core-colours(class='+u-bc-info')
  div.t-core-colours(class='+u-bc-error')
  div.t-core-colours(class='+u-bc-warning')
  div.t-core-colours(class='+u-bc-danger')
h2.t-core-title--sub Colour Notify
.t-core-utilities.config
  p(class='+u-fs-h1  +u-fw-bold  +u-c-success') success
  p(class='+u-fs-h1  +u-fw-bold  +u-c-info') info
  p(class='+u-fs-h1  +u-fw-bold  +u-c-error') error
  p(class='+u-fs-h1  +u-fw-bold  +u-c-warning') warning
  p(class='+u-fs-h1  +u-fw-bold  +u-c-danger') danger
h2.t-core-title--sub Colour Headings
.t-core-utilities.config
  p(class='+u-fs-h1  +u-fw-bold  +u-c-h-1') heading
  p(class='+u-fs-h1  +u-fw-bold  +u-c-h-2') heading
  p(class='+u-fs-h1  +u-fw-bold  +u-c-h-3') heading
h2.t-core-title--sub Background Buttons
.t-core-utilities.config
  p(class='+u-fs-h1  +u-fw-bold  +u-c-btn-1') button
  p(class='+u-fs-h1  +u-fw-bold  +u-c-btn-2') button
h2.t-core-title--sub Background Buttons
.t-core-utilities.config
  div.t-core-colours(class='+u-bc-btn-1')
  div.t-core-colours(class='+u-bc-btn-2')
h2.t-core-title--sub Colour Forms
.t-core-utilities.config
  p(class='+u-fs-h1  +u-fw-bold  +u-c-form-1') form
  p(class='+u-fs-h1  +u-fw-bold  +u-c-form-2') form
h2.t-core-title--sub Colour Forms
.t-core-utilities.config
  div.t-core-colours(class='+u-bc-form-input')
  div.t-core-colours(class='+u-bc-form-hover')
  div.t-core-colours(class='+u-bc-form-active')
  div.t-core-colours(class='+u-bc-form-focus')
h2.t-core-title--sub Colour Code
.t-core-utilities.config
  p(class='+u-fs-h1  +u-fw-bold  +u-c-code') code
h2.t-core-title--sub Colour Code
.t-core-utilities.config
  div.t-core-colours(class='+u-bc-code')
h2.t-core-title--sub Background Colour Brands
.t-core-utilities.config
  div.t-core-colours(class='+u-bc-google')
  div.t-core-colours(class='+u-bc-facebook')
  div.t-core-colours(class='+u-bc-twitter')
  div.t-core-colours(class='+u-bc-linkedin')
  div.t-core-colours(class='+u-bc-dribble')
  div.t-core-colours(class='+u-bc-instagram')
  div.t-core-colours(class='+u-bc-googleplus')
  div.t-core-colours(class='+u-bc-behance')
  div.t-core-colours(class='+u-bc-gimmebar')
  div.t-core-colours(class='+u-bc-github')
  div.t-core-colours(class='+u-bc-tumblr')
  div.t-core-colours(class='+u-bc-youtube')
  div.t-core-colours(class='+u-bc-vine')
  div.t-core-colours(class='+u-bc-kickstarter')
  div.t-core-colours(class='+u-bc-dropbox')
  div.t-core-colours(class='+u-bc-rss')
  div.t-core-colours(class='+u-bc-facebook')
  div.t-core-colours(class='+u-bc-codepen')
  div.t-core-colours(class='+u-bc-foursquare')
  div.t-core-colours(class='+u-bc-soundcloud')
  div.t-core-colours(class='+u-bc-wordpress')
  div.t-core-colours(class='+u-bc-tumblr')
  div.t-core-colours(class='+u-bc-blogger')
  div.t-core-colours(class='+u-bc-squarespace')
  div.t-core-colours(class='+u-bc-joomla')
  div.t-core-colours(class='+u-bc-drupal')
  div.t-core-colours(class='+u-bc-typepad')
  div.t-core-colours(class='+u-bc-expression-engine')
  div.t-core-colours(class='+u-bc-kirby')
  div.t-core-colours(class='+u-bc-moveabletype')
  div.t-core-colours(class='+u-bc-disqus')
  div.t-core-colours(class='+u-bc-html')
h2.t-core-title--sub Colour Brands
.t-core-utilities.config
  p(class='+u-fs-h1  +u-fw-bold  +u-c-google') google
  p(class='+u-fs-h1  +u-fw-bold  +u-c-facebook') facebook
  p(class='+u-fs-h1  +u-fw-bold  +u-c-twitter') twitter
  p(class='+u-fs-h1  +u-fw-bold  +u-c-linkedin') linkedin
  p(class='+u-fs-h1  +u-fw-bold  +u-c-dribble') dribble
  p(class='+u-fs-h1  +u-fw-bold  +u-c-instagram') instagram
  p(class='+u-fs-h1  +u-fw-bold  +u-c-googleplus') googleplus
  p(class='+u-fs-h1  +u-fw-bold  +u-c-behance') behance
  p(class='+u-fs-h1  +u-fw-bold  +u-c-gimmebar') gimmebar
  p(class='+u-fs-h1  +u-fw-bold  +u-c-github') github
  p(class='+u-fs-h1  +u-fw-bold  +u-c-tumblr') tumblr
  p(class='+u-fs-h1  +u-fw-bold  +u-c-youtube') youtube
  p(class='+u-fs-h1  +u-fw-bold  +u-c-vine') vine
  p(class='+u-fs-h1  +u-fw-bold  +u-c-kickstarter') kickstarter
  p(class='+u-fs-h1  +u-fw-bold  +u-c-dropbox') dropbox
  p(class='+u-fs-h1  +u-fw-bold  +u-c-rss') rss
  p(class='+u-fs-h1  +u-fw-bold  +u-c-facebook') facebook
  p(class='+u-fs-h1  +u-fw-bold  +u-c-codepen') codepen
  p(class='+u-fs-h1  +u-fw-bold  +u-c-foursquare') foursquare
  p(class='+u-fs-h1  +u-fw-bold  +u-c-soundcloud') soundcloud
  p(class='+u-fs-h1  +u-fw-bold  +u-c-wordpress') wordpress
  p(class='+u-fs-h1  +u-fw-bold  +u-c-tumblr') tumblr
  p(class='+u-fs-h1  +u-fw-bold  +u-c-blogger') blogger
  p(class='+u-fs-h1  +u-fw-bold  +u-c-squarespace') squarespace
  p(class='+u-fs-h1  +u-fw-bold  +u-c-joomla') joomla
  p(class='+u-fs-h1  +u-fw-bold  +u-c-drupal') drupal
  p(class='+u-fs-h1  +u-fw-bold  +u-c-typepad') typepad
  p(class='+u-fs-h1  +u-fw-bold  +u-c-expression-engine') expression engine
  p(class='+u-fs-h1  +u-fw-bold  +u-c-kirby') kirby
  p(class='+u-fs-h1  +u-fw-bold  +u-c-moveabletype') moveabletype
  p(class='+u-fs-h1  +u-fw-bold  +u-c-disqus') disqus
  p(class='+u-fs-h1  +u-fw-bold  +u-c-html') html