h1(class='t-core-title +u-fs-h5x') Floats Utilities 2.0
h2.t-core-title--sub Right
.t-core-utilities.floats(class='+u-cf')
  div(class="+u-block  +u-f-right" style='height:150px; width:150px;')
    span right
.t-core-code
  p code here
h2.t-core-title--sub Left
.t-core-utilities.floats(class='+u-cf')
  div(class="+u-block  +u-f-left" style='height:150px; width:150px;')
    span left
.t-core-code
  p code here
h2.t-core-title--sub Inherit
.t-core-utilities.floats(class='+u-cf')
  div(class="+u-block  +u-f-right  +u-f-inherit  +u-cf" style='height:150px; width:150px;')
     span inherit
.t-core-code
  p code here