h1(class='t-core-title +u-fs-h5x') Font Styles Utilities 2.0
h2.t-core-title--sub Font Style
.t-core-utilities.fonts
  p(class='+u-fs-normal') font-style: normal
  p(class='+u-fs-italic') font-style: italic
  p(class='+u-fs-oblique') font-style: oblique