h1(class='t-core-title +u-fs-h5x') Island Utilities 2.0
h2.t-core-title--sub Island Margin
div.t-core-utilities.island
  div(class='+u-cf  +u-bc-success')
    div(class='+u-i-m-1/6') 
      p
        span Island Margin Space 1/6
  div(class='+u-cf  +u-bc-success')
    div(class='+u-i-m-1/5') 
      p
        span Island Margin Space 1/5
  div(class='+u-cf  +u-bc-success')
    div(class='+u-i-m-1/4') 
      p
        span Island Margin Space 1/4
  div(class='+u-cf  +u-bc-success')
    div(class='+u-i-m-1/3') 
      p
        span Island Margin Space 1/3
  div(class='+u-cf  +u-bc-success')
    div(class='+u-i-m-1/2') 
      p
        span Island Margin Space 1/2
  div(class='+u-cf  +u-bc-success')
    div(class='+u-i-m') 
      p
        span Island Margin Space 1
  div(class='+u-cf  +u-bc-success')
    div(class='+u-i-m-1-1/2') 
      p
        span Island Margin Space 1 half
  div(class='+u-cf  +u-bc-success')
    div(class='+u-i-m-2') 
      p
        span Island Margin Space 2
  div(class='+u-cf  +u-bc-success')
    div(class='+u-i-m-3') 
      p
        span Island Margin Space 3
  div(class='+u-cf  +u-bc-success')
    div(class='+u-i-m-4') 
      p
        span Island Margin Space 4
  div(class='+u-cf  +u-bc-success')
    div(class='+u-i-m-5') 
      p
        span Island Margin Space 5
  div(class='+u-cf  +u-bc-success')
    div(class='+u-i-m-6') 
      p
        span Island Margin Space 6
h2.t-core-title--sub Island Padding
div.t-core-utilities.island
  div(class='+u-cf  +u-bc-info')
    div(class='+u-i-p-1/6') 
      p
        span Island Padding Space 1/6
  div(class='+u-cf  +u-bc-info')
    div(class='+u-i-p-1/5') 
      p
        span Island Padding Space 1/5
  div(class='+u-cf  +u-bc-info')
    div(class='+u-i-p-1/4') 
      p
        span Island Padding Space 1/4
  div(class='+u-cf  +u-bc-info')
    div(class='+u-i-p-1/3') 
      p
        span Island Padding Space 1/3
  div(class='+u-cf  +u-bc-info')
    div(class='+u-i-p-1/2') 
      p
        span Island Padding Space 1/2
  div(class='+u-cf  +u-bc-info')
    div(class='+u-i-m') 
      p
        span Island Padding Space 1
  div(class='+u-cf  +u-bc-info')
    div(class='+u-i-p-1-1/2') 
      p
        span Island Padding Space 1 half
  div(class='+u-cf  +u-bc-info')
    div(class='+u-i-p-2') 
      p
        span Island Padding Space 2
  div(class='+u-cf  +u-bc-info')
    div(class='+u-i-p-3') 
      p
        span Island Padding Space 3
  div(class='+u-cf  +u-bc-info')
    div(class='+u-i-p-4') 
      p
        span Island Padding Space 4
  div(class='+u-cf  +u-bc-info')
    div(class='+u-i-p-5') 
      p
        span Island Padding Space 5
  div(class='+u-cf  +u-bc-info')
    div(class='+u-i-p-6') 
      p
        span Island Padding Space 6