h1(class='t-core-title +u-fs-h5x') Rounded Utilities 2.0
h2.t-core-title--sub Rounded Circle
.t-core-utilities.rounded(class='+u-cf')
  div(class="+u-d-block  +u-r-circle" style='height:200px; width:200px;')
    span 
      code +u-r-cirle
h2.t-core-title--sub Rounded All
.t-core-utilities.rounded(class='+u-cf')
  div(class="+u-d-block  +u-r-all" style='height:200px; width:200px;')
    span 
      code +u-r-all
h2.t-core-title--sub Rounded Top
.t-core-utilities.rounded(class='+u-cf')
  div(class="+u-d-block  +u-r-top" style='height:200px; width:200px;')
    span
      code +u-r-top
h2.t-core-title--sub Rounded Left
.t-core-utilities.rounded(class='+u-cf')
  div(class="+u-d-block  +u-r-left" style='height:200px; width:200px;')
    span
      code +u-r-left
h2.t-core-title--sub Rounded Right
.t-core-utilities.rounded(class='+u-cf')
  div(class="+u-d-block  +u-r-right" style='height:200px; width:200px;')
    span 
      code +u-r-right
h2.t-core-title--sub Rounded Bottom
.t-core-utilities.rounded(class='+u-cf')
  div(class="+u-d-block  +u-r-bottom" style='height:200px; width:200px;')
    span 
      code +u-r-bottom
h2.t-core-title--sub Rounded Top Left
.t-core-utilities.rounded(class='+u-cf')
  div(class="+u-d-block  +u-r-tl" style='height:200px; width:200px;')
    span 
      code +u-r-tl
h2.t-core-title--sub Rounded Top Right
.t-core-utilities.rounded(class='+u-cf')
  div(class="+u-d-block  +u-r-tr" style='height:200px; width:200px;')
    span 
      code +u-r-tr
h2.t-core-title--sub Rounded Bottom Left
.t-core-utilities.rounded(class='+u-cf')
  div(class="+u-d-block  +u-r-bl" style='height:200px; width:200px;')
    span 
      code +u-r-bl
h2.t-core-title--sub Rounded Bottom Right
.t-core-utilities.rounded(class='+u-cf')
  div(class="+u-d-block  +u-r-br" style='height:200px; width:200px;')
    span 
      code +u-r-br
h2.t-core-title--sub Rounded Reset
.t-core-utilities.rounded(class='+u-cf +u-p-relative')
    div(class="+u-d-block  +u-r-circle  +u-p-absolute" style='height:200px; width:200px;')
    div(class="+u-d-block  +u-r-circle  +u-r-reset" style='height:200px; width:200px;')
      span 
        code +u-r-reset

