h1(class='t-core-title +u-fs-h5x') States Utilities 2.0
div.t-core-utilities.states
  a(class='o-btn +u-s-disable') disable state
  br
  a(class='o-btn +u-s-active') active state
  br
  a(class='o-btn +u-s-inform') inform state