h1(class='t-core-title +u-fs-h5x') Utilities Vertical Align 2.0
div.t-core-utilities.vertical-align
  div(class="+u-d-table" style='height:100px;')
    div(class='+u-d-table-cell  +u-va-top') 
      span top
div.t-core-utilities.vertical-align
  div(class="+u-d-table" style='height:100px;')
    div(class='+u-d-table-cell  +u-va-bottom') 
      span bottom
div.t-core-utilities.vertical-align
  div(class="+u-d-table" style='height:100px;')
    div(class='+u-d-table-cell  +u-va-middle') 
      span middle
div.t-core-utilities.vertical-align
  div(class="+u-d-table" style='height:100px;')
    div(class='+u-d-table-cell  +u-va-inherit') 
      span inherit
