doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    include ../_partials/site/compatibility-mode
    title Site Example
    include ../_partials/site/description
    include ../_partials/site/meta-viewport

    include ../_partials/site/metaquery

    include ../_partials/site/icon-chrome-android

    include ../_partials/site/icon-safari-ios

    include ../_partials/site/icon-tile-win8

    include ../_partials/site/if-mobile-url

    link(type='text/css', rel='stylesheet', href='../assets/css/main.css')
  body

    .l-se-strip-1
      .l-se-container
        div
          h1 We create experiences that work together, work the same and work for our users
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
          a(class='o-btn  --pill') hello every one

    .l-se-strip-2
      .l-se-container
        div
          h1 We create experiences that work together, work the same and work for our users
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
          a(class='o-btn  --pill') hello every one


    .l-se-main-3
      .l-se-container
        div
          h1 We create experiences that work together, work the same and work for our users
        div
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
          a(class='o-btn  --pill') hello every one

    .l-se-main-4
      .l-se-container
        div
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
          a(class='o-btn  --pill' href='https://twitter.com') get in touch
        div
          h1 We create experiences that work together, work the same and work for our users

    .l-se-main-5
      .l-se-container.m-fluidbox
        ul
          li
            a(class='fluidbox' href='http://placehold.it/800')
              img(src='http://placehold.it/400')
          li
            img(src='http://placehold.it/400')
          li
            img(src='http://placehold.it/400')
          li
            a(class='fluidbox' href='http://i.imgur.com/kwlHn.jpg')
              img(src='http://placehold.it/400')
          li
            img(src='http://placehold.it/400')
          li
            img(src='http://placehold.it/400')
          li
            img(src='http://placehold.it/400')
          li
            img(src='http://placehold.it/400')
          li
            img(src='http://placehold.it/400')
          li
            img(src='http://placehold.it/400')
          li
            img(src='http://placehold.it/400')
          li
            img(src='http://placehold.it/400')

    .l-se-main-6
      .l-se-container
        div
          h1 We create experiences that work together, work the same and work for our users
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
          a(class='o-btn  --pill' href='https://twitter.com') get in touch


    .l-se-main-7
      .l-se-container.m-owl-carousel
        div
          img(src='../assets/images/placeholders/image-placeholder--01.jpg')
        div
          img(src='../assets/images/placeholders/image-placeholder--02.jpg')
        div
            img(src='../assets/images/placeholders/image-placeholder--03.jpg')
        div
          img(src='../assets/images/placeholders/image-placeholder--04.jpg')

    img(class="o-img  --full" src='http://40.media.tumblr.com/344211895849a9970a0daf98cf0f992b/tumblr_ng2q07UoqK1sxfmmbo1_1280.jpg')

    include ../_partials/site/scripts
    include ../_partials/site/analytics