h1(class='t-core-title +u-fs-h5x') Base Links
h2.t-core-title--sub Link
.t-core-base.links
  a(href='#') link
  p(class='+u-c-gray')
  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies 
  a(href='#') base href link 
  | Lorem ipsum dolor sit nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
.t-core-code
  p code here
h2.t-core-title--sub Base Colour Links
.t-core-utilities.config
  p(class='+u-c-link') link state color
  p(class='+u-c-hover') hover state color
  p(class='+u-c-active') active state color
  p(class='+u-c-visited') visited state color
.t-core-code
  p code here
h2.t-core-title--sub Base Colour Links States as Backgrounds
.t-core-utilities.config
  div.t-core-colours(class='+u-bc-link')
  div.t-core-colours(class='+u-bc-hover')
  div.t-core-colours(class='+u-bc-active')
  div.t-core-colours(class='+u-bc-visited')
.t-core-code
  p code here
