doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    include ../../_partials/site/compatibility-mode
    title Core Utilities
    include ../../_partials/site/description
    include ../../_partials/site/meta-viewport

    include ../../_partials/site/favicon
    //- or
    //- include ../../_partials/site/favicon-png

    include ../../_partials/site/metaquery

    include ../../_partials/site/icon-chrome-android

    include ../../_partials/site/icon-safari-ios

    include ../../_partials/site/icon-tile-win8

    include ../../_partials/site/if-mobile-url

    link(type='text/css', rel='stylesheet', href='../../assets/css/main.css')
  body.styleguide
    include ../../_partials/site/header
      ul(class='o-nav  --banner')
        li
          a(class='o-btn  --large  +u-r-all' href='../base') base
        li
          a(class='o-btn  --large  +u-r-all' href='../objects') objects
        li
          a(class='o-btn  --large  +u-r-all  +u-s-active' href='../utilities') utilities
        li
          a(class='o-btn  --large  +u-r-all' href='../sink') sink
        li
          a(class='o-btn  --large  +u-r-all' href='../config') config
        li
          a(class='o-btn  --large  +u-r-all' href='../modules') modules
        li
          a(class='o-btn  --large  +u-r-all' href='../mixins') mixins

    div.l-core-container.container

      //- utilities
      include ../../_partials/utilities/colours
      include ../../_partials/utilities/display
      include ../../_partials/utilities/position
      include ../../_partials/utilities/floats
      include ../../_partials/utilities/text
      include ../../_partials/utilities/font-sizes
      include ../../_partials/utilities/font-styles
      include ../../_partials/utilities/font-weights
      include ../../_partials/utilities/rounded
      include ../../_partials/utilities/vertical-align
      include ../../_partials/utilities/notify
      include ../../_partials/utilities/widths
      include ../../_partials/utilities/spaces
      include ../../_partials/utilities/island
      include ../../_partials/utilities/web-fonts
      include ../../_partials/utilities/extends

    include ../../_partials/site/scripts
    include ../../_partials/site/analytics