$use-trumps-widths:  true !default;

@if $use-trumps-widths == true{

/* ==========================================================================
   Trumps - Widths
   ========================================================================== */

  // widths
  @include add(u-w-0\!)            { @extend %e-w-0; }
  @include add(u-w-1\/1\!)         { @extend %e-w-1\/1; }

  @include add(u-w-1\/2\!)         { @extend %e-w-1\/2; }
  @include add(u-w-2\/2\!)         { @extend %e-w-1\/1; }

  @include add(u-w-1\/3\!)         { @extend %e-w-1\/3; }
  @include add(u-w-2\/3\!)         { @extend %e-w-2\/3; }
  @include add(u-w-3\/3\!)         { @extend %e-w-1\/1; }

  @include add(u-w-1\/4\!)         { @extend %e-w-1\/3; }
  @include add(u-w-2\/4\!)         { @extend %e-w-2\/4; }
  @include add(u-w-3\/4\!)         { @extend %e-w-3\/4; }
  @include add(u-w-4\/4\!)         { @extend %e-w-1\/1; }

  @include add(u-w-1\/5\!)         { @extend %e-w-1\/5; }
  @include add(u-w-2\/5\!)         { @extend %e-w-2\/5; }
  @include add(u-w-3\/5\!)         { @extend %e-w-3\/5; }
  @include add(u-w-4\/5\!)         { @extend %e-w-4\/5; }
  @include add(u-w-5\/5\!)         { @extend %e-w-1\/1; }

  @include add(u-w-1\/6\!)         { @extend %e-w-1\/6; }
  @include add(u-w-2\/6\!)         { @extend %e-w-2\/6; }
  @include add(u-w-3\/6\!)         { @extend %e-w-3\/6; }
  @include add(u-w-4\/6\!)         { @extend %e-w-4\/6; }
  @include add(u-w-5\/6\!)         { @extend %e-w-5\/6; }
  @include add(u-w-6\/6\!)         { @extend %e-w-1\/1; }

  @include add(u-w-1\/8\!)         { @extend %e-w-1\/8; }
  @include add(u-w-2\/8\!)         { @extend %e-w-2\/8; }
  @include add(u-w-3\/8\!)         { @extend %e-w-3\/8; }
  @include add(u-w-4\/8\!)         { @extend %e-w-4\/8; }
  @include add(u-w-5\/8\!)         { @extend %e-w-5\/8; }
  @include add(u-w-6\/8\!)         { @extend %e-w-6\/8; }
  @include add(u-w-7\/8\!)         { @extend %e-w-7\/8; }
  @include add(u-w-8\/8\!)         { @extend %e-w-1\/1; }

  @include add(u-w-1\/10\!)       { @extend %e-w-1\/10; }
  @include add(u-w-2\/10\!)       { @extend %e-w-2\/10; }
  @include add(u-w-3\/10\!)       { @extend %e-w-3\/10; }
  @include add(u-w-4\/10\!)       { @extend %e-w-4\/10; }
  @include add(u-w-5\/10\!)       { @extend %e-w-5\/10; }
  @include add(u-w-6\/10\!)       { @extend %e-w-6\/10; }
  @include add(u-w-7\/10\!)       { @extend %e-w-7\/10; }
  @include add(u-w-8\/10\!)       { @extend %e-w-8\/10; }
  @include add(u-w-9\/10\!)       { @extend %e-w-9\/10; }
  @include add(u-w-10\/10\!)       { @extend %e-w-1\/1; }

  @include add(u-w-1\/12\!)       { @extend %e-w-1\/12; }
  @include add(u-w-2\/12\!)       { @extend %e-w-2\/12; }
  @include add(u-w-3\/12\!)       { @extend %e-w-3\/12; }
  @include add(u-w-4\/12\!)       { @extend %e-w-4\/12; }
  @include add(u-w-5\/12\!)       { @extend %e-w-5\/12; }
  @include add(u-w-6\/12\!)       { @extend %e-w-6\/12; }
  @include add(u-w-7\/12\!)       { @extend %e-w-7\/12; }
  @include add(u-w-8\/12\!)       { @extend %e-w-8\/12; }
  @include add(u-w-9\/12\!)       { @extend %e-w-9\/12; }
  @include add(u-w-10\/12\!)      { @extend %e-w-10\/12; }
  @include add(u-w-11\/12\!)      { @extend %e-w-11\/12; }
  @include add(u-w-12\/12\!)      { @extend %e-w-1\/1; }

}//endif